---

---

<div
  class="pl-5 pr-5 pt-10 pb-10 text-slate-400 bg-slate-800 mt-24 rounded-lg"
  id="full-charts"
>
  <h2 class="text-violet-300 font-bold text-xl pb-2 select-none">
    # Full Charts
  </h2>
  <p class="pb-6 font-semibold text-sm select-none">
    Visualize the full chart for trends on a branch over time for a specific
    type
  </p>
  <dl class="grid grid-cols-1 gap-x-4 gap-y-8 lg:grid-cols-3">
    <template class="mx-auto" x-for="t in types">
      <div class="sm:col-span-1 bg-slate-900 rounded-md p-5">
        <dt class="text-white font-bold select-none pb-2" x-text="t.name"></dt>
        <dd class="text-gray-600">
          <div class="pb-2 select-none flex justify-center items-center">
            <img
              is:raw
              :src="`//${url}/chart?org=${org}&repo=${repo}&branch=${branch}&type=${t.name}&theme=dark&line=fill`"
            />
          </div>
          <code class="font-mono text-slate-500 break-words text-sm">
            ![<span x-text="t.name"></span>](https://<span x-text="url"
            ></span>/chart?org=<span x-text="org"></span>&repo=<span
              x-text="repo"></span>&branch=<span x-text="branch"
            ></span>&type=<span x-text="t.name"></span>)
          </code>
        </dd>
      </div>
    </template>
  </dl>
</div>
